<h1>The NN guessed "{{ guess }}"!</h1>

<p>In the last round, the NN guessed {{ guess_result }}. Now the NN has {{ lives_remaining }} lives remaining.</p>

<div style="text-align: center;">
	<img src="/static/{{ 10 - lives_remaining }}.PNG" width="300 px" />
</div>

<p>In this round, the NN saw "{{ ' '.join(current_view) }}" and guessed the letter "{{ guess }}".</p>
<p>Click the positions where the letter "{{ guess }}" appears in the secret word (if applicable), then press Submit to begin the next round.</p>

<form action='/feedback' method='post'>
	<table>
		{% for current_char in current_view %}
			<tr>
			{% if current_char == '_' %}
				<td><input type="checkbox" name="present" value="letter{{ loop.index0 }}"></td>
			{% else %}
				<td> </td>
			{% endif %}
				<td>{{ loop.index0 + 1 }})</td>
				<td>{{ current_char }}</td>
			</tr>
		{% endfor %}
	</table>
	<input type="hidden" name="last_guess" value="{{ guess }}">
	<input type='submit'></input>
</form>
<br/>
<div style="text-align: center;">
	<form action='/' method='get'>
		<input type='submit' value='Start Over'></input>
	</form>
</div>
