<h1>Let's play Hangman with CNTK!</h1>

<p>Choose a word that you would like the trained model to attempt to guess. Make sure your word consists only of letters: no punctuation, spaces, or other symbols allowed! No need to reveal the word to us -- you'll provide feedback on each guess, just like in a real game of Hangman -- but we do need to know how long the word is, so that we can include the right number of blank spaces.</p>

<form action='/start' method='post'>
  <label for='num_chars'>How long is your word (number of characters)?</label>
  <input name='num_chars' type='text'></input>

  <input type='submit'></input>
</form>
